.Select {
 
  height: 100vh;
  
  
 
  h1 {
    text-align: center;
    text-transform: uppercase;
    
  }
  .container {
    display: grid;
    padding: 50px;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 8px 15px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
      display: flex;
      justify-content: center;
     
  }
  img{
   
    width: 100px;
    border-radius: 50%;
  }
}
