.Select {
  position: relative;
 
  h1 {
    text-align: center;
    
  }
  .container {
    display: grid;
    padding: 15px;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 8px 8px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
}
