.desc{
    display: flex;
    flex:2;

line-height: 1.8;

padding:15px;
.desc-oyester{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: rgb(231, 222, 222);
    p{
        padding: 15px;
    }
    h1{
        text-align: center;
    }
}
img{
    flex:1;
    border-radius: 5px;
    width: 500px;
    height: 600px;
}
}