.container-Aside{
    position: relative;
    &::before {
        position: absolute;
        bottom: 50px;
        left: 40%;
      
        content: "";
        width: 20%;
        height: 3px;
        background-color: grey;
        
      }
   
    h1{
        text-align: center;
        text-transform: uppercase;
        img{
            width: 30px;
            height:30px;
            border-radius: 50%;
        }
    }
.Aside {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;


  .container1{
    flex:1;
   
    h1{
        position: absolute;
        bottom: 200px;
        font-size: 55px;
        right: 0;
        transform: translate3d(80px,0,0) rotate(90deg);
        text-transform: uppercase;
        z-index: 2;
        color:white;
    }
    .background1{
        position: relative;
        
        top:25px;
        left: 155px;
        width: 500px;
        height: 500px;
        background-color: rgba(190, 123, 34, 0.827);
        img{
            position: absolute;
            top:45px;
            right:40px;
            width: 500px;
            height: 500px;
        }

    }
  }
  .container2{
    flex:1;
    
    position: relative;
    h1{
        position: absolute;
        bottom: 200px;
        font-size: 55px;
        right: 0;
        transform: translate3d(110px,0,0) rotate(90deg);
        text-transform: uppercase;
        z-index: 2;
        color:white;
    }
    .background{
        position: relative;
        
        top:25px;
        left: 155px;
        width: 500px;
        height: 500px;
        background-color: rgba(190, 123, 34, 0.827);
        h2{
            font-size: 15px;}
        img{
            position: absolute;
            top:45px;
            right:40px;
            width: 500px;
            height: 500px;
        }

    }
    
  }
}
}